ul class="list-group" style="max-width: 400px;"
     =link_to "GIANTS", sule_index_path_url(teamatr: "Giants"), class:"list-group-item"
     =link_to "BayStars", sule_index_path_url(teamatr: "BayStars") , class:"list-group-item"
     =link_to "Tigers", sule_index_path_url(teamatr: "Tigers"), class:"list-group-item"
     =link_to "Carp", sule_index_path_url(teamatr: "Carp") , class:"list-group-item"
     =link_to "Dragons", sule_index_path_url(teamatr: "Dragons"), class:"list-group-item"
     =link_to "Swallows", sule_index_path_url(teamatr: "Swallows"), class:"list-group-item"