
.row
    .col-xs-4
        h1 =@user.username

        |総コメント数:  
        =@user.commes.count
        br
        =link_to "フォロー数:",  following_user_url%(@user), :style=>"color:black"
        =@user.following.count
        br
        |フォロワー数:
        =@user.followers.count
    
        =render 'follow_form'  unless current_user.id==@user.id
    
    
        